#navbar {
  width: 100%;
  height: 70px;
  top: 0px;
  position: absolute;
  z-index: 999;
  background-color: #888;
  opacity: 0.6
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Dosis', sans-serif;
}

.section {
  font-size: 3em;
  text-align: center;
}

h5{
  font-size: .5em;
}

ul {
  display: block;
  list-style: none;
}

#myMenu li {
  display: inline-block;
  margin: 10px;
}

#myMenu a {
  text-decoration: none;
  color: white;
}

#myMenu a:hover {
  color: black;
}


#welcomeSec img{
  margin-top: 1em;
  width: 15%;
  border-radius: 100%;
}

.tinyUl {
  font-size: .5em;
}

.op70 {
  opacity: .7;
}
.op50 {
  opacity: .5;
}
