#navbar {
  width: 100%;
  height: 70px;
  top: 0px;
  position: absolute;
  z-index: 999;
  background-color: #888;
  opacity: 0.6;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Dosis', sans-serif;
}

.section {
  font-size: 2.5em;
  text-align: center;
  background-size: cover;
}

h5{
  font-size: .5em;
}

ul {
  display: block;
  list-style: none;
  -webkit-padding-start: 0;
}

#myMenu li {
  display: inline-block;
  margin: 10px;
}

#myMenu a {
  text-decoration: none;
  color: white;
}

#myMenu a:hover {
  color: black;
}

#welcomeSec {
  background-image: url(./public/bg.jpg);
  color: #eeeeee;
}

#welcomeSec img{
  margin-top: 1em;
  width: 15%;
  border-radius: 100%;
}

#welcomeSec h3, #welcomeSec p {
  text-shadow: 2px 2px black;
}

.tinyUl {
  font-size: .5em;
}

.op70 {
  opacity: .7;
}
.op50 {
  opacity: .5;
}

.slide img {
  width: 50%;
}
.lil {
  font-size: .6em;
}
.nano {
  font-size: .3em;
}

.topHeavy {
  margin-top: 1.5em;
}



.icons {
  max-height: 100px;
  margin: 20px;
  color: black;
}

#red {
  color: #FF334B;
}
#jsony {
  font-size: 1em;
  text-align: left;
  white-space: normal;
  font-family: monospace;
}

#jsony ul {
  list-style-type: none;
  padding: 0;
  margin: 5.5em 0 0 26px;
}

#jsony li {
  position: relative;
}

#jsony .fp-tableCell {
  vertical-align: top;
}

.prop {
  font-weight: bold;
}

.hoverable {
	transition: background-color .2s ease-out 0s;
	-webkit-transition: background-color .2s ease-out 0s;
	display: inline-block;
}

.hovered {
	transition-delay: .2s;
	-webkit-transition-delay: .2s;
  background-color: #d2d2f6;
}

.selected {
	outline-style: solid;
	outline-width: 1px;
	outline-style: dotted;
}

.stringy {
  color: #008000;
}

.booly {
  color: blue;
}

.aubs {
  color: rgb(197, 145, 161);
  text-decoration: none;
}

.margdiv {
  margin: 100px;
}

@media (max-width: 775px) {
  .section {
    font-size: 1.5em;
  }
}
@media (max-height: 675px) {
  .section {
    font-size: 1.5em;
  }
}
@media (max-height: 480px) {
  .section {
    font-size: 1em;
  }
}
@media (max-height: 400px) {
  .section {
    font-size: .8em;
  }
  #welcomeSec img {
    width: 10%;
  }
}
