.blurple {
  background-color: #a09be7;
}

.violet {
  background-color: #5f00ba;
}

.peasoup {
  background-color: #d6ff79;
}

.mintease {
  background-color: #b0ff92;
}

.bluscious {
  background-color: #fff2f1;
}
